@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-zinc-900 dark:text-zinc-100;
  }
}

/* Custom scrollbar for that professional feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #27272a;
}
